# API
HTTP_PORT=8080
SHUTDOWN_TIMEOUT=10s
LOG_LEVEL=INFO

# PostgreSQL local development settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app_analytics
POSTGRES_USER=app_analytics
POSTGRES_PASSWORD=app_analytics
POSTGRES_SSLMODE=disable

# RabbitMQ local development settings
RABBITMQ_USER=app_analytics
RABBITMQ_PASSWORD=app_analytics
RABBITMQ_URL=amqp://app_analytics:app_analytics@localhost:5672/
RABBITMQ_EXCHANGE=app.events
RABBITMQ_QUEUE=app.events
RABBITMQ_ROUTING_KEY=app.events

# ClickHouse local development settings
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=app_analytics
CLICKHOUSE_USER=app_analytics
CLICKHOUSE_PASSWORD=app_analytics
